---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import SubtitlePage from "../components/SubtitlePage.astro";
import CardSkills from "../components/CardSkills.astro";
import GeneralHeader from "../components/GeneralHeader.astro";
import SubtitlePageLevel3 from "../components/SubtitlePageLevel3.astro";


const metronic = "/images/skills/technical/metronic.png";
const jquery = "/images/skills/technical/jquery.png";
const mysql = "/images/skills/technical/mysql.png";
const woocommerce = "/images/skills/technical/woocommerce.png";
const square = "/images/skills/technical/square.png";
const php = "/images/skills/technical/php.png";
const linux = "/images/skills/technical/linux.png";
const debian = "/images/skills/technical/debian.png";
const s3 = "/images/skills/technical/s3.png";
const bootstrap = "/images/skills/technical/bootstrap.png";
const html5 = "/images/skills/technical/html5.png";
const css3 = "/images/skills/technical/css3.png";
const javascript = "/images/skills/technical/javascript.png";
const paypal = "/images/skills/technical/paypal.png";
const wordpress = "/images/skills/technical/wordpress.png";
const laravel = "/images/skills/technical/laravel.png";

const github = "/images/skills/technical/github.png";
const gitlab = "/images/skills/technical/gitlab.png";
const materialize = "/images/skills/technical/materialize.png";
const mariaDB = "/images/skills/technical/mariaDB.png";
const polly = "/images/skills/technical/polly.png";
const postman = "/images/skills/technical/postman.png";
const trello = "/images/skills/technical/trello.png";
const planner = "/images/skills/technical/planner.png";
const tailwind = "/images/skills/technical/tailwind.png";
const slack = "/images/skills/technical/slack.png";
const jira = "/images/skills/technical/jira.png";
const lumen = "/images/skills/technical/lumen.png";
const sourcetree = "/images/skills/technical/sourceTree.png";
const astro = "/images/skills/technical/astro.png";
const aem = "/images/skills/technical/aem.png";


const cPanel = "/images/skills/technical/cPanel.png";
const grafana = "/images/skills/technical/grafana.png";
const ibmWatson = "/images/skills/technical/ibmWatson.png";
const phpSpreadsheet = "/images/skills/technical/phpSpreadsheet.png";
const swagger = "/images/skills/technical/swagger.png";

const visualstudiocode = "/images/skills/technical/visualstudiocode.png";

const moodle = "/images/skills/technical/moodle.png";
const powerBI = "/images/skills/technical/powerBI.png";
const iam = "/images/skills/technical/iam.png";
const sql = "/images/skills/technical/sql.png";

const framework7 = "/images/skills/technical/framework7.png";
const onesignal = "/images/skills/technical/onesignal.png";
const idrive = "/images/skills/technical/iDrive.png";
const highcharts = "/images/skills/technical/highcharts.png";
const visjs = "/images/skills/technical/visjs.png";
const instagram = "/images/skills/technical/instagram.png";
const facebook = "/images/skills/technical/facebook.png";
const csharp = "/images/skills/technical/cSharp.png";
const chatGpt = "/images/skills/technical/chatGpt.png";
const newfiesdialer = "/images/skills/technical/newfiesDialer.png";
const bitrix24= "/images/skills/technical/bitrix24.png";
const copilot= "/images/skills/technical/copilot.png";
const seoonpage= "/images/skills/technical/seoonpage.png";

const vue = "/images/skills/technical/vue.png";













---

<html lang="es">
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Habilidades</title>

</head>
<Menu />
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 mb-10 px-4">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Habilidades"  />

        <SubtitlePage subtitle="Transversales"></SubtitlePage>

        <div class=" grid grid-cols-1 md:grid-cols-3  gap-2">
            <CardSkills typeSkill="transversal" title="Trabajo en equipo" img="/images/skills/transversal/trabajo-en-equipo180.png" ></CardSkills>
            <CardSkills typeSkill="transversal" title="Comunicación asertiva" img="/images/skills/transversal/comunicacion-asertiva180.png"></CardSkills>
            <CardSkills typeSkill="transversal" title="Planificación" img="/images/skills/transversal/planificacion180.png"></CardSkills>
        </div>

    
        
        <SubtitlePage subtitle="Técnicas"></SubtitlePage>

        <div class="grid grid-cols-1  md:grid-cols-[80%_auto] gap-2  lg:grid-cols-[80%_auto]">
                <div class=" bg-c-white rounded-md">
                    <SubtitlePageLevel3 subtitle="Lenguajes"></SubtitlePageLevel3>
                    <div class="mx-2  grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-6  gap-2">
                        <CardSkills title="HTML5" img={html5}></CardSkills>
                        <CardSkills title="CSS3" img={css3}></CardSkills>
                        <CardSkills title="JavaScript" img={javascript}></CardSkills>
                        <CardSkills title="PHP" img={php}></CardSkills>
                        <CardSkills title="C#" img={csharp}></CardSkills>
                        
                        <CardSkills title="SQL" img={sql}></CardSkills>
                    </div>
                </div>

                <div class=" bg-c-white rounded-md ">
                    <SubtitlePageLevel3 subtitle="LMS"></SubtitlePageLevel3>
                    <CardSkills title="Moodle" img={moodle}></CardSkills>
                </div>

                

</div>




<div class="grid grid-cols-1 mt-2 md:grid-cols-3 gap-2  lg:grid-cols-3">
                
    <div class="bg-c-white grid rounded-md ">

        <SubtitlePageLevel3 subtitle="CMS"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-3 md:grid-cols-3 sm:grid-cols-3 lg:grid-cols-3 gap-2 ">
                <CardSkills title="AEM" img={aem}></CardSkills>
                <CardSkills title="Wordpress" img={wordpress}></CardSkills>
                <CardSkills title="Woocommerce" img={woocommerce}></CardSkills>
            </div>
        </div>

        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="DB's"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-2  gap-2">
    
                <CardSkills title="MySQL" img={mysql}></CardSkills>
                <CardSkills title="MariaDB" img={mariaDB}></CardSkills>
            </div>
        </div>
       
  


        <div class=" bg-c-white rounded-md ">
            <SubtitlePageLevel3 subtitle="AWS"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-3 md:grid-cols-3 sm:grid-cols-3 lg:grid-cols-3  gap-2 ">
    
                <CardSkills title="IAM" img={iam}></CardSkills>
                <CardSkills title="S3" img={s3}></CardSkills>
                <CardSkills title="Polly" img={polly}></CardSkills>
            </div>
        </div>


</div>



   
     <div class="grid gap-2 ">

     <div class="grid gap-2 mt-2 grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 ">

        
        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="Librerías y frameworks"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-4  gap-2">
                <CardSkills title="Laravel" img={laravel}></CardSkills>
                <!-- <CardSkills title="Lumen" img={lumen}></CardSkills> -->
                <CardSkills title="Vue js" img={vue}></CardSkills>
                <CardSkills title="Bootstrap" img={bootstrap}></CardSkills>
                <CardSkills title="Astro js" img={astro}></CardSkills>
                <CardSkills title="Tailwind" img={tailwind}></CardSkills>
                <CardSkills title="jQuery" img={jquery}></CardSkills>
                <CardSkills title="Metronic" img={metronic}></CardSkills>
                <CardSkills title="Materialize" img={materialize}></CardSkills>
                <CardSkills title="PHP Spreadsheet" img={phpSpreadsheet}></CardSkills>
                <CardSkills title="Highcharts" img={highcharts}></CardSkills>
                <CardSkills title="Vis js" img={visjs}></CardSkills>
                <CardSkills title="Framework7" img={framework7}></CardSkills>
            </div>

        </div>




        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="API's y SDK's"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-4  gap-2">
    
                <CardSkills title="Instagram" img={instagram}></CardSkills>
                <CardSkills title="Facebook" img={facebook}></CardSkills>
                <CardSkills title="Paypal" img={paypal}></CardSkills>
                <CardSkills title="Square" img={square}></CardSkills>
                <CardSkills title="IBM Watson" img={ibmWatson}></CardSkills>
                <CardSkills title="Chat GPT" img={chatGpt}></CardSkills>
                <CardSkills title="Woocommerce" img={woocommerce}></CardSkills>
                <CardSkills title="One signal" img={onesignal}></CardSkills>
                <CardSkills title="Newfies Dialer" img={newfiesdialer}></CardSkills>

    
            </div>
        </div>
       




</div>


  
<div class="grid grid-cols-1  md:grid-cols-1 gap-2  lg:grid-cols-1"> 
    <div class="bg-c-white grid rounded-md ">

        <SubtitlePageLevel3 subtitle="Otros"></SubtitlePageLevel3>

        <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-8  gap-2">
            <CardSkills title="VS Code" img={visualstudiocode}></CardSkills>
            <CardSkills title="Copilot" img={copilot}></CardSkills>
            <CardSkills title="Linux" img={linux}></CardSkills>
            <CardSkills title="Debian 10" img={debian}></CardSkills>
            <CardSkills title="Github" img={github}></CardSkills>
            <CardSkills title="Gitlab" img={gitlab}></CardSkills>
            <CardSkills title="Postman" img={postman}></CardSkills>
            <CardSkills title="Trello" img={trello}></CardSkills>
            <CardSkills title="Planner" img={planner}></CardSkills>
            <CardSkills title="Seo on Page" img={seoonpage}></CardSkills>
            <CardSkills title="Slack" img={slack}></CardSkills>
            <CardSkills title="Jira" img={jira}></CardSkills>

            <CardSkills title="SourceTree" img={sourcetree}></CardSkills>
            <CardSkills title="cPanel" img={cPanel}></CardSkills>
            <CardSkills title="Grafana" img={grafana}></CardSkills>
            <CardSkills title="Swagger" img={swagger}></CardSkills>
            <CardSkills title="Power BI" img={powerBI}></CardSkills>
            <CardSkills title="IDrive" img={idrive}></CardSkills>
            <CardSkills title="Bitrix24" img={bitrix24}></CardSkills>

        </div>
    </div>
</div>



</div>
</section>

</html>