---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import SubtitlePage from "../components/SubtitlePage.astro";
import CardSkills from "../components/CardSkills.astro";
import GeneralHeader from "../components/GeneralHeader.astro";
import SubtitlePageLevel3 from "../components/SubtitlePageLevel3.astro";

const rootTechnicalSkills = "/images/skills/technical/"
const metronic = rootTechnicalSkills+"metronic.png";
const jquery = rootTechnicalSkills+"jquery.png";
const mysql = rootTechnicalSkills+"mysql.png";
const woocommerce = rootTechnicalSkills+"woocommerce.png";
const square = rootTechnicalSkills+"square.png";
const php = rootTechnicalSkills+"php.png";
const linux = rootTechnicalSkills+"linux.png";
const debian = rootTechnicalSkills+"debian.png";
const s3 = rootTechnicalSkills+"s3.png";
const bootstrap = rootTechnicalSkills+"bootstrap.png";
const html5 = rootTechnicalSkills+"html5.png";
const css3 = rootTechnicalSkills+"css3.png";
const javascript = rootTechnicalSkills+"javascript.png";
const paypal = rootTechnicalSkills+"paypal.png";
const wordpress = rootTechnicalSkills+"wordpress.png";
const laravel = rootTechnicalSkills+"laravel.png";

const github = rootTechnicalSkills+"github.png";
const gitlab = rootTechnicalSkills+"gitlab.png";
const materialize = rootTechnicalSkills+"materialize.png";
const mariaDB = rootTechnicalSkills+"mariaDB.png";
const polly = rootTechnicalSkills+"polly.png";
const postman = rootTechnicalSkills+"postman.png";
const trello = rootTechnicalSkills+"trello.png";
const planner = rootTechnicalSkills+"planner.png";
const tailwind = rootTechnicalSkills+"tailwind.png";
const slack = rootTechnicalSkills+"slack.png";
const jira = rootTechnicalSkills+"jira.png";
const lumen = rootTechnicalSkills+"lumen.png";
const lighthouse = rootTechnicalSkills+"lighthouse.png";
const sourcetree = rootTechnicalSkills+"sourceTree.png";
const astro = rootTechnicalSkills+"astro.png";
const aem = rootTechnicalSkills+"aem.png";


const cPanel = rootTechnicalSkills+"cPanel.png";
const grafana = rootTechnicalSkills+"grafana.png";
const ibmWatson = rootTechnicalSkills+"ibmWatson.png";
const phpSpreadsheet = rootTechnicalSkills+"phpSpreadsheet.png";
const swagger = rootTechnicalSkills+"swagger.png";

const visualstudiocode = rootTechnicalSkills+"visualstudiocode.png";

const moodle = rootTechnicalSkills+"moodle.png";
const powerBI = rootTechnicalSkills+"powerBI.png";
const iam = rootTechnicalSkills+"iam.png";
const sql = rootTechnicalSkills+"sql.png";

const framework7 = rootTechnicalSkills+"framework7.png";
const onesignal = rootTechnicalSkills+"onesignal.png";
const idrive = rootTechnicalSkills+"iDrive.png";
const highcharts = rootTechnicalSkills+"highcharts.png";
const visjs = rootTechnicalSkills+"visjs.png";
const instagram = rootTechnicalSkills+"instagram.png";
const facebook = rootTechnicalSkills+"facebook.png";
const csharp = rootTechnicalSkills+"cSharp.png";
const chatGpt = rootTechnicalSkills+"chatGpt.png";
const newfiesdialer = rootTechnicalSkills+"newfiesDialer.png";
const bitrix24= rootTechnicalSkills+"bitrix24.png";
const copilot= rootTechnicalSkills+"copilot.png";
const seoonpage= rootTechnicalSkills+"seoonpage.png";

const vue = rootTechnicalSkills+"vue.png";
const reactjs = rootTechnicalSkills+"reactjs.png";
const python = rootTechnicalSkills+"python.png"

const selenium = rootTechnicalSkills+"selenium.png";












---

<html lang="es">
<head>
	<GeneralHeader></GeneralHeader>
    <title>David Tapias - Habilidades</title>

</head>
<Menu />
<section class="bg-gradient-to-r from-c-dark-gray to-c-ligth-cyan pt-10 pb-20 lg:pb-10 lg:pt-20 px-4">
    <div class="max-w-7xl mx-auto">
        <TitlePage title="Habilidades"  />

        <SubtitlePage subtitle="Transversales"></SubtitlePage>

        <div class=" grid grid-cols-1 md:grid-cols-3  gap-2">
            <CardSkills typeSkill="transversal" title="Trabajo en equipo" img="/images/skills/transversal/trabajo-en-equipo180.png" ></CardSkills>
            <CardSkills typeSkill="transversal" title="Comunicación asertiva" img="/images/skills/transversal/comunicacion-asertiva180.png"></CardSkills>
            <CardSkills typeSkill="transversal" title="Planificación" img="/images/skills/transversal/planificacion180.png"></CardSkills>
        </div>

    
        
        <SubtitlePage subtitle="Técnicas"></SubtitlePage>

        <div class="grid grid-cols-1  md:grid-cols-[80%_auto] gap-2  lg:grid-cols-[80%_auto]">
                <div class=" bg-c-white rounded-md">
                    <SubtitlePageLevel3 subtitle="Lenguajes"></SubtitlePageLevel3>
                    <div class="mx-2  grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-7  gap-2">
                        <CardSkills title="HTML5" img={html5}></CardSkills>
                        <CardSkills title="CSS3" img={css3}></CardSkills>
                        <CardSkills title="JavaScript" img={javascript}></CardSkills>
                        <CardSkills title="PHP" img={php}></CardSkills>
                        <CardSkills title="C#" img={csharp}></CardSkills>
                        <CardSkills title="Python" img={python}></CardSkills>
                        <CardSkills title="SQL" img={sql}></CardSkills>
                    </div>
                </div>

                <div class=" bg-c-white rounded-md ">
                    <SubtitlePageLevel3 subtitle="LMS"></SubtitlePageLevel3>
                    <CardSkills title="Moodle" img={moodle}></CardSkills>
                </div>

                

</div>




<div class="grid grid-cols-1 mt-2 md:grid-cols-3 gap-2  lg:grid-cols-3">
                
    <div class="bg-c-white grid rounded-md ">

        <SubtitlePageLevel3 subtitle="CMS"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-3 md:grid-cols-3 sm:grid-cols-3 lg:grid-cols-3 gap-2 ">
                <CardSkills title="AEM" img={aem}></CardSkills>
                <CardSkills title="Wordpress" img={wordpress}></CardSkills>
                <CardSkills title="Woocommerce" img={woocommerce}></CardSkills>
            </div>
        </div>

        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="DB's"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-2  gap-2">
                <CardSkills title="MySQL" img={mysql}></CardSkills>
                <CardSkills title="MariaDB" img={mariaDB}></CardSkills>
            </div>
        </div>
       
  


        <div class=" bg-c-white rounded-md ">
            <SubtitlePageLevel3 subtitle="AWS"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-3 md:grid-cols-3 sm:grid-cols-3 lg:grid-cols-3  gap-2 ">
                <CardSkills title="IAM" img={iam}></CardSkills>
                <CardSkills title="S3" img={s3}></CardSkills>
                <CardSkills title="Polly" img={polly}></CardSkills>
            </div>
        </div>


</div>



   
     <div class="grid gap-2 ">

     <div class="grid gap-2 mt-2 grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 ">

        
        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="Librerías y frameworks"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-4  gap-2">
                <CardSkills title="Laravel" img={laravel}></CardSkills>
                <!-- <CardSkills title="Lumen" img={lumen}></CardSkills> -->
                <CardSkills title="React js" img={reactjs}></CardSkills>
                <CardSkills title="Bootstrap" img={bootstrap}></CardSkills>
                <CardSkills title="Astro js" img={astro}></CardSkills>
                <CardSkills title="Tailwind" img={tailwind}></CardSkills>
                <CardSkills title="jQuery" img={jquery}></CardSkills>
                <CardSkills title="Metronic" img={metronic}></CardSkills>
                <CardSkills title="Materialize" img={materialize}></CardSkills>
                <CardSkills title="PHP Spreadsheet" img={phpSpreadsheet}></CardSkills>
                <CardSkills title="Highcharts" img={highcharts}></CardSkills>
                <CardSkills title="Vis js" img={visjs}></CardSkills>
                <CardSkills title="Framework7" img={framework7}></CardSkills>
            </div>

        </div>




        <div class="bg-c-white grid rounded-md">
            <SubtitlePageLevel3 subtitle="API's y SDK's"></SubtitlePageLevel3>
            <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-4  gap-2">
    
                <CardSkills title="Instagram" img={instagram}></CardSkills>
                <CardSkills title="Facebook" img={facebook}></CardSkills>
                <CardSkills title="Paypal" img={paypal}></CardSkills>
                <CardSkills title="Square" img={square}></CardSkills>
                <CardSkills title="IBM Watson" img={ibmWatson}></CardSkills>
                <CardSkills title="ChatGPT" img={chatGpt}></CardSkills>
                <CardSkills title="Woocommerce" img={woocommerce}></CardSkills>
                <CardSkills title="One signal" img={onesignal}></CardSkills>
                <CardSkills title="Newfies Dialer" img={newfiesdialer}></CardSkills>

    
            </div>
        </div>
       




</div>


  
<div class="grid grid-cols-1  md:grid-cols-1 gap-2  lg:grid-cols-1"> 
    <div class="bg-c-white grid rounded-md ">

        <SubtitlePageLevel3 subtitle="Otros"></SubtitlePageLevel3>

        <div class="mx-2   grid grid-cols-2 md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-8  gap-2">
            <CardSkills title="VS Code" img={visualstudiocode}></CardSkills>
            <CardSkills title="Copilot" img={copilot}></CardSkills>
            <CardSkills title="ChatGPT" img={chatGpt}></CardSkills>

            <CardSkills title="Linux" img={linux}></CardSkills>
            <CardSkills title="Debian 10" img={debian}></CardSkills>
            <CardSkills title="Github" img={github}></CardSkills>
            <CardSkills title="Gitlab" img={gitlab}></CardSkills>
            <CardSkills title="Postman" img={postman}></CardSkills>
            <CardSkills title="Selenium" img={selenium}></CardSkills>
            <CardSkills title="Lighthouse" img={lighthouse}></CardSkills>

            <CardSkills title="Trello" img={trello}></CardSkills>
            <CardSkills title="Planner" img={planner}></CardSkills>
            <CardSkills title="Seo on Page" img={seoonpage}></CardSkills>
            <CardSkills title="Slack" img={slack}></CardSkills>
            <CardSkills title="Jira" img={jira}></CardSkills>

            <CardSkills title="SourceTree" img={sourcetree}></CardSkills>
            <CardSkills title="cPanel" img={cPanel}></CardSkills>
            <CardSkills title="Grafana" img={grafana}></CardSkills>
            <CardSkills title="Swagger" img={swagger}></CardSkills>
            <CardSkills title="Power BI" img={powerBI}></CardSkills>
            <CardSkills title="IDrive" img={idrive}></CardSkills>
            <CardSkills title="Bitrix24" img={bitrix24}></CardSkills>

        </div>
    </div>
</div>



</div>
</section>

</html>