---
export interface props{
    id:string,
    image:string;
    title:string;
    desc:string;
    link:string;
}

const {id,image,title,desc, link} = Astro.props;
---

<div id={id} class="relative bg-c-white rounded-md shadow-md ">
    <img src={image} alt="imagen" class="object-cover rounded-t-md  h-80">
    <div class="p-6 mb-6">
        <h2 class="font-bold text-2xl text-c-dark-gray">{title}</h2>
        <article class="p-2"><p>{desc}</p></article>
    </div>
    <a href={link} class="absolute bottom-4  right-4 px-6 py-2 bg-c-black text-sm font-bold text-c-white hover:text-c-dark-yellow rounded-md">Ver mas</a>
    
</div>